In [3]:
#Question 1. Discuss string slicing and provide examples.	


string = "Virat, Kohli"
slicing = string[1:4]
print(slicing)  # Output: "ello"

ira

In [4]:
string = "Virat, Kohli"
reversed_string = string[::-1]
print(reversed_string)  # Output: "!dlroW ,olleH"

ilhoK ,tariV

In [9]:
string = "Virat, Kohli"
sliced = string[8:2:-1]  # Reverse slice from index 7 to 2
print(sliced)  # Output: "oW ,

oK ,ta

In [14]:
#Question 2. Explain the key features of lists in Python.

#Example: Mutable
my_list = [1, 2, 3,4,5]
my_list[0] = 0 
print(my_list)

[0, 2, 3, 4, 5]

In [15]:
#Example: Ordered

my_list = ['aa', 'bb', 'cc']
print(my_list[0])

a

In [16]:
#Example: Heterogeneous
my_list = [11,22, "Hello", 3.5, [2, 4]]
print(my_list)

[11, 22, 'Hello', 3.5, [2, 4]]

In [24]:
#Example: Dynamic Size
my_list = [21, 22, 33]
my_list.append(44)  # List is now [21, 22, 33, 44]
my_list.pop()      # List is now [1, 2, 3]

44

In [28]:
#Example: Slicing
my_list = [22, 33, 44, 55, 66]
sub_list = my_list[1:2] 

print(my_list )
print(sub_list)

[22, 33, 44, 55, 66]
[33]

In [31]:
#Example: Iterable
my_list = [23, 46, 52]
for item in my_list:
    print(item)

23
46
52

In [33]:
#Question 3. Describe how to access, modify, and delete elements in a list with examples.	

#Examples: access

# List of letter
letter = ["A", "B", "C", "D"]

# Accessing elements
print(letter[0])   # Output: A
print(letter[2])   # Output: C

# Accessing elements with negative indexing
print(letter[-1])  # Output: D (last element)
print(letter[-3])  # Output: B(third element from the end)

A
C
D
B

In [34]:
#Example: Modify

# List of letter
letter = ["A", "B", "C"]

# Modifying an element
letter[1] = "D"
print(letter)  # Output: ['A', 'D', 'C']

['A', 'D', 'C']

In [35]:
#a. Using del:
#You can use del to delete elements at a specific index or to delete the entire list.

# List of letter
letter = ["A", "B", "C"]

# Deleting an element by index
del letter[1]
print(letter)  # Output: ['A', 'C']

# Deleting a slice of elements
letter = ["A", "B", "C", "D"]
del letter[1:3]
print(letter)  # Output: ['A', 'D']

['A', 'C']
['A', 'D']

In [36]:
#b. Using remove():
#The remove() method removes the first occurrence of a specified value.

# List of letter
letter = ["A", "B", "C", "B"]

# Removing the first occurrence of "B"
letter.remove("B")
print(letter)  # Output: ['A', 'C', 'B']

['A', 'C', 'B']

In [37]:
#c. Using pop():
#The pop() method removes and returns the element at a specified index. If no index is specified, it removes the last element.

# List of letter
letter = ["A", "B", "B"]

# Removing and returning the last element
last_letter = letter.pop()
print(letter)      # Output: ['A', 'B']
print(last_letter)  # Output: B

# Removing and returning an element at index 0
first_letter = letter.pop(0)
print(letter)      # Output: ['B']
print(first_letter) # Output: A

['A', 'B']
B
['B']
A

In [39]:
#Question 4. Compare and contrast tuples and lists with examples.

#Example: Mutability

# List (Mutable)
my_list = [11, 22, 33]
my_list[1] = 3  # Modifying an element
print(my_list)   # Output: [1, 20, 3]

# Tuple (Immutable)
my_tuple = (11, 22, 33)
# my_tuple[1] = 20  # TypeError

[11, 3, 33]

In [54]:
#Example: Syntax

# List
my_list = [11, 22, 33]

# Tuple
my_tuple = (11, 22, 23)

#Example: Methods

# List methods
my_list = [3, 1, 4]
my_list.append(2)   # Adding an element
my_list.sort()      # Sorting the list
print(my_list)      # Output: [1, 2, 3, 4]

# Tuple methods
my_tuple = (1, 2, 3, 2)
print(my_tuple.count(2))  
# Output: 2 (counts occurrences of 2)
print(my_tuple.index(3))  
# Output: 2 (finds index of first occurrence of 3)

[1, 2, 3, 4]
2
2

In [53]:
#Question 5. Describe the key features of sets and provide examples of their use.

#Example: Mathematical Operations
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union = set1 | set2  
print (union) #Output: {1, 2, 3, 4, 5}
intersection = set1 & set2  #Output: {3}
print (intersection)
difference = set1 - set2  # Output:{1, 2}
print(difference)

{1, 2, 3, 4, 5}
{3}
{1, 2}

In [56]:

my_set = {1, 2, 3, 4}
print(3 in my_set)  # True
#Examples of Using Sets

True

In [60]:


set_A = [1, 2, 3, 4]
set_B = [5, 6, 7, 8]

# Convert lists to sets and perform union
union = set(set_A).union(set(set_B))
print(union)

{1, 2, 3, 4, 5, 6, 7, 8}

In [67]:
set_A = [1, 2, 3, 4]
set_B = [4,5, 6, 7, 8]

# Convert lists to sets and perform intersection
intersection = set(set_A).intersection(set(set_B))

# Print the intersection result
print(intersection)

{4}

In [69]:
#Difference
set_A = [1, 2, 3, 4]
set_B = [4, 5, 6, 7, 8]

# Convert lists to sets and perform difference
difference = set(set_A).difference(set(set_B))

# Print the difference result
print(difference)

{1, 2, 3}

In [70]:
#Membership Testing

set_A = [1, 2, 3, 4]
set_B = [4, 5, 6, 7, 8]

# Convert lists to sets
set_A = set(set_A)
set_B = set(set_B)

# Membership testing: Check if 3 is in set_A
is_member = 3 in set_A

# Print the membership result
print(is_member)

True

In [71]:
#Question 7. Describe how to odd, modify, and delete items in a dictionary with examples.	

#1. Adding Items to a Dictionary

# Create an empty dictionary
my_dict = {}

# Add a key-value pair
my_dict['name'] = 'Swapnil'
my_dict['age'] = 33

print(my_dict)

{'name': 'Swapnil', 'age': 33}

In [73]:
#2. Modifying Items in a Dictionary


# Modify the value of an existing key
my_dict['age'] = 36

print(my_dict)

{'name': 'Swapnil', 'age': 36}

In [74]:
#3. Deleting Items from a Dictionary

# Delete a specific key-value pair
del my_dict['name']

print(my_dict)

{'age': 36}

In [75]:
#Example using pop():

# Remove a key-value pair and return the value
age = my_dict.pop('age')

print(age)     # Output: 36
print(my_dict) # Output: {}

36
{}

In [76]:
#Example using popitem():

# Add new items
my_dict['city'] = 'Mumbai'
my_dict['country'] = 'India'

# Remove the last inserted item
last_item = my_dict.popitem()

print(last_item)  # Output: ('country', 'USA')
print(my_dict)    # Output: {'city': 'New York'}

('country', 'India')
{'city': 'Mumbai'}

In [78]:

#Example using clear():
# Clear all key-value pairs
my_dict.clear()

print(my_dict)  # Output: {}

{}

In [81]:
#Question 8. Discuss the importance of dictionary keys being immutable and provide examples.


#Examples
#Using Immutable Keys (Strings and Tuples)

# Example with string keys (immutable)
my_dict = {
    "Rahul": 1,
    "Rajeev": 2,
    "Chahal": 3
}

print(my_dict["Rahul"])

1

In [84]:
# Example with tuple keys (immutable)
my_tuple_dict = {
    (11, 12): "point A",
    (13, 14): "point B"
}

print(my_tuple_dict[(11, 12)])

point A

In [87]:
#Attempting to Use Mutable Keys (Lists)
# This will raise an error because lists are mutable

try:
    my_dict = {
        [1, 2]: "value2"  # Trying to use a list as a key
    }
except TypeError as e:
    print(e)

unhashable type: 'list'

In [91]:
# Example with frozenset keys (immutable)
my_frozenset_dict = {
    frozenset([11, 12]): "set1",
    frozenset([13, 14]): "set2"
}

print(my_frozenset_dict[frozenset([11, 12])])

set1